@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Josefin+Sans:wght@300;500&display=swap');

$color-brown-01: #291d1d;
$color-brown-02: #1d1513;
$color-beige-01: #d9d1bc;
$color-beige-02: #dbbf98;
$color-pink-01: #dca8aa;
$color-pink-02: #cb7168;
$color-pink-03: #b3554d;

$font-serif: 'Gabriela', serif;
$font-sans-serif: 'Josefin Sans', sans-serif;
