@use "variables";
@use "mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .7s;
}

html{
    font-size: 18px;
    font-family: variables.$font-sans-serif;
    text-align: center;
    word-wrap: break-word;
    @include mixins.for-tablet-landscape-up{
        font-size: 22px;
    }

    body{
        width: 100vw;
        height: 100vh;
        background-color: variables.$color-brown-02;

        h1{
            font-size: 3rem;
            color: variables.$color-pink-02;
            margin-bottom: 10px;
        }

        p, a{
            color: variables.$color-beige-01;
        }

        a{
            text-decoration: none;
        }

        .display{
            width: 100%;
            min-height: 500px;
            @include mixins.for-tablet-landscape-up{
                padding: 50px;
                @include mixins.flex-center;
            }
        }

        .introduction{
            width: 100%;
            padding: 20px;
            @include mixins.for-tablet-landscape-up{
                background-color: variables.$color-brown-01;
                border-radius: 20px;
                padding: 20px 50px;
            }
            @include mixins.for-desktop-up{
                max-width: 1200px;
                margin: 0 auto;
                padding: 20px 100px;
            }

            p{
                font-family: variables.$font-serif;
            }

            &-title, &-description{
                width: 100%;
                padding: 25px 0;
            }

            &-title{
                @include mixins.for-tablet-landscape-up{
                    display: none;
                }

                p{
                    font-size: 1.2rem;
                    font-style: italic;
                    color: variables.$color-beige-02;
                }
            }

            &-photo{
                width: 100%;
                min-height: 300px;                
                @include mixins.flex-center;
                @include mixins.for-tablet-landscape-up{
                    justify-content: end;
                }

                img{
                    width: 100%;
                    max-width: 400px;
                    border-radius: 50%;
                    border: 5px solid variables.$color-brown-02;
                }
            }

            &-description{
                @include mixins.for-tablet-landscape-up{
                    display: flex;
                    padding: 0;
                    min-height: 180px;

                    p::before{
                        content: '\a0\a0\a0';
                    }
                }

                p{
                    @include mixins.for-tablet-landscape-up{
                        width: 600px;
                        text-align: left;
                    }
                }
            }
        }
    }
}